* :after {
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
}

body,
li,
ul {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  height: 60px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 5%);
}

li {
  text-align: -webkit-match-parent;
}

.nav_list {
  text-transform: uppercase;
  font-size: 12px;
  display: flex;
  align-items: center;
  list-style: none;
  height: 60px;
  justify-content: flex-end;
}

.nav_item {
  position: relative;
  padding: 22.5px 0;
  text-decoration: none;
  color: #000;
  margin-left: 20px;
}

ul {
  display: block;
}

.link {
  text-decoration: none;
  color: #000;
  padding: 22.5px 0;
}

a.link:hover {
  color: #00acdc;
}

.is-active,
.link_item:hover {
  color: #00acdc;
}

.is-active:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 36px;
  height: 4px;
  background: #00acdc;
  border-radius: 8px;
}

.logo {
  margin-top: 10px;
}

a[data-qa] {
  color: #00acdc;
  text-decoration: none;
}
